<header mat-dialog-title>
    {{_item.displayName}}
</header>

<mat-dialog-content>
    <g2-item-info [item]="_item"></g2-item-info>
    <section class="editor-pane" *ngIf="isEdit">
        <header class="caption">＜アイテム情報編集＞</header>
        <section>
            <mat-form-field class="rare-title">
                <input #rareTitleInput type="text" class="input-rare-title" placeholder="超レア称号" matInput [(ngModel)]="selectedRareTitle"
                    [formControl]="rareTitleControl" [matAutocomplete]="rareTitleAuto" onfocus="this.select(0,this.value.length)"
                    (change)="inputValueChanged()" />
                <mat-error>{{getErrorMessage(rareTitleControl)}}</mat-error>
                <mat-autocomplete #rareTitleAuto="matAutocomplete" (optionSelected)="titleInput.focus()">
                    <ng-template ngFor let-name [ngForOf]="filteredRareTitleNames | async">
                        <mat-option [value]="name">{{name}}</mat-option>
                    </ng-template>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="title">
                <input #titleInput type="text" class="input-title" placeholder="称号" matInput [(ngModel)]="selectedTitle" [formControl]="titleControl"
                    [matAutocomplete]="titleAuto" onfocus="this.select(0,this.value.length)" (change)="inputValueChanged()" />
                <mat-error>{{getErrorMessage(titleControl)}}</mat-error>
                <mat-autocomplete #titleAuto="matAutocomplete" (optionSelected)="rareTitleInput.focus()">
                    <ng-template ngFor let-name [ngForOf]="filteredTitleNames | async">
                        <mat-option [value]="name">{{name}}</mat-option>
                    </ng-template>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="item">
                <input #rareTitleInput type="text" class="input-item" placeholder="アイテム" matInput [(ngModel)]="selectedItem" [formControl]="itemControl"
                    [matAutocomplete]="itemAuto" onfocus="this.select(0,this.value.length)" (change)="inputValueChanged()" />
                <mat-error>{{getErrorMessage(itemControl)}}</mat-error>
                <mat-autocomplete #itemAuto="matAutocomplete" (optionSelected)="jewelInput.focus()">
                    <ng-template ngFor let-name [ngForOf]="filteredItemNames | async">
                        <mat-option [value]="name">{{name}}</mat-option>
                    </ng-template>
                </mat-autocomplete>
            </mat-form-field>
        </section>

        <header class="caption">＜宝石合成＞</header>
        <section>
            <mat-form-field class="jewel">
                <input #jewelInput type="text" class="input-jewel" placeholder="宝石合成" matInput [(ngModel)]="inputJewel.value" [formControl]="inputJewel.control"
                    [matAutocomplete]="jewelAuto" onfocus="this.select(0,this.value.length)" (change)="inputValueChanged()" />
                <mat-error>{{getErrorMessage(inputJewel.control)}}</mat-error>
                <mat-autocomplete #jewelAuto="matAutocomplete" (optionSelected)="registButton.focus()">
                    <ng-template ngFor let-name [ngForOf]="inputJewel.filterd | async">
                        <mat-option [value]="name">{{name}}</mat-option>
                    </ng-template>
                </mat-autocomplete>
            </mat-form-field>
        </section>
    </section>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="isEdit=true" *ngIf="!isEdit">編集</button>
    <button #registButton mat-raised-button color="primary" (click)="commit()" *ngIf="isEdit">反映</button>
    <button mat-raised-button (click)="dialogRef.close()">閉じる</button>
</mat-dialog-actions>
