<header mat-dialog-title>
    データ管理
</header>

<mat-dialog-content>
    <mat-tab-group (selectedTabChange)="tabChanged($event)">
        <mat-tab label="エクスポート">
            <article class="tab-content">
                <div class="description">通常アイテムの所有称号情報と超レア称号付きアイテム情報を、外部ファイルに保存します。</div>
            </article>
        </mat-tab>
        <mat-tab label="インポート">
            <article class="tab-content">
                <div class="description">
                    エクスポートデータを取り込み、通常アイテムの称号情報と超レア称号付きアイテム情報を復元します。
                    <br/>
                    <span color="warn">※現在保存されている情報は上書きされますので、ご注意ください。</span>
                </div>
                <mat-form-field class="file-input">
                    <input type="text" readonly matInput [(ngModel)]="fileName" (click)="fileInput.click()" placeholder="インポートファイル指定" />
                    <span matSuffix>
                        <button mat-icon-button (click)="fileInput.click()">
                            <mat-icon>attach_file</mat-icon>
                        </button>
                        <input name="fileInput" #fileInput type="file" style="display:none;" (change)="onFileInput($event)" />
                    </span>
                </mat-form-field>
            </article>
        </mat-tab>
        <mat-tab label="ゲームリセット">
            <article class="tab-content">
                <div class="description">
                    ゲームリセット時の状況を再現するため、全ての超レア称号付きアイテムを【掘り出し物】に入った状態に変更します。
                </div>
            </article>
        </mat-tab>
        <mat-tab label="一括処理">
            <article class="tab-content">
                <div class="description">
                    全ての所有アイテムデータを一括変更します。
                </div>
                <div class="batch-process">
                    <button mat-button color="primary" (click)="setPossessionAll(true)">
                        <span>全ての通常アイテムを入手済み状態に変更する</span>
                    </button>
                    <button mat-button color="warn" (click)="setPossessionAll(false)">
                        <span>全ての通常アイテムを未入手状態に変更する</span>
                    </button>
                </div>
            </article>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button color="primary" *ngIf="getButtonVisible(0)" (click)="exportData()">
        <mat-icon>file_download</mat-icon>
        <span>エクスポート</span>
    </button>
    <button mat-raised-button color="primary" *ngIf="getButtonVisible(1)" (click)="importData()">
        <mat-icon>file_upload</mat-icon>
        <span>インポート</span>
    </button>
    <button mat-raised-button color="primary" *ngIf="getButtonVisible(2)" (click)="resetGame()">
        <mat-icon>undo</mat-icon>
        <span>実行</span>
    </button>
    <button mat-raised-button (click)="dialogRef.close()">閉じる</button>
</mat-dialog-actions>
