<button mat-button (click)="contents.openItemRegisterDialog()">
    <mat-icon>add_shopping_cart</mat-icon>
    <span>超レアアイテム追加</span>
</button>
<button mat-button (click)="contents.openFilterDialog()">
    <mat-icon>search</mat-icon>
    <span>検索条件設定</span>
</button>
<button mat-button (click)="contents.openSettingsDialog()">
    <mat-icon>settings</mat-icon>
    <span>表示項目設定</span>
</button>
<button mat-button (click)="contents.openDataManagementDialog()">
    <mat-icon>import_export</mat-icon>
    <span>データ管理</span>
</button>
